.input-container {
    padding: 10px;
    width: 100%;
    background-color: #f2f2f2;
    border-top: 1px solid #ddd;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: absolute;
    bottom: 0;
}
.input-container input[type="text"] {
    width: calc(100% - 100px);
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
}

.input-container button {
    background-color: #128C7E;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
}
.list-group{
    width: 700px;
    border-radius: 2px;
    background-color: #f2f2f2;
    padding-left: 300px;
}
